{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "node": "current"
                }
            },
            "@babel/preset-typescript"
        ]
    ],
    "plugins": ["transform-object-rest-spread"]
}